# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# PyCharm
.idea/

# Python packaging
*.egg-info/
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Local save data
save_data.json